@mixin font($font, $size, $weight, $color) {
    font-family: $font;
    font-size: $size;
    font-weight:$weight;
    color: $color;
  }
  
  .title {
    @include font($ssp, 40px, bold, $titlegray);
  }

  .title35{
    @include font($ssp, 35px, bold, $titlegray)
  }

  .title24{
    @include font($ssp, 24px, bold, $titlegray)
  }

  .title21{
    @include font($ssp, 21px, bold, $titlegray);
  }

  .text21{
    @include font($formfont, 21px, normal, $textgray)
  }

  .text {
    @include font($ssp, 16px, normal, $textgray);
  }

  .footer-text {
    @include font($ssp, 16px, normal, $footfont);
  }

  .text14{
    @include font($formfont, 14px, normal, $textgray)
  }

  .infofont{
    @include font($info, 14px, normal, $infoblack);
	text-align: left;
  }

  ::placeholder{
    @include font($formfont, 14px, normal, $bordertext)
  }

  
  @media screen and (max-width: 480px){
    .title{
      font-size: 30px;
    }
}
 

