
//KOLORY
$green1: #72bb53;
$footgreen: #629c44;
$bordergreen2: #629c44;
$footfont: #cbe8ba;
$categorycolor: #92d36e;
$bordergreen: #cbe8ba;
$bordertext:#c0c0c0;
$bordergray: #cccccc;
$titlegray:#444444;
$textgray: #7a7a7a;
$infoblack:#232323;
$white:#ffffff;

//CZCIONKI
$ssp: sans-serif;
$formfont: Helvetica;
$info: "Courier New";

