
//KOLORY
$green1: #72bb53;
$footgreen: #629c44;
$bordergreen2: #629c44;
$footfont: #cbe8ba;
$categorycolor: #92d36e;
$bordergreen: #cbe8ba;
$bordertext:#c0c0c0;
$bordergray: #cccccc;
$titlegray:#444444;
$textgray: #7a7a7a;
$infoblack:#232323;
$white:#ffffff;

//CZCIONKI

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  }


  @font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Source Sans 3 Bold';
    src: url('../fonts/Source_Sans_3/static/SourceSans3-Bold.ttf') format('truetype');
  }

  

$ssp: 'Source Sans 3',sans-serif;
$formfont: Helvetica;
$mont: 'Montserrat';
$montb:'Montserrat Bold';
$montsb:'Montserrat SemiBold';
$ssb: 'Source Sans 3 Bold';