.title {
    text-align: center;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    gap: 2%;

    input, textarea {
        width: 30vw;
    }

    textarea {
        height: 15vh;
    }

    .error {
        width: 30vw;
    }
}

.flex-container2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;

    #map {
        width: 60vw;
        height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    .flex-container1 {
        flex-direction: column;
        align-items: center;

        input, textarea {
            width: 90vw;
        }

        textarea {
            height: 30vw;
        }

        .error {
            width: 90vw;
        }
    }

    .flex-container2 {
        #map {
            width: 90vw;
            height: 40vh;
        }
    }
}