@import "_variables";
@import "_mixins";

footer {
    background-color: $footgreen;
    text-align: center;
    padding: 20px 0 40px 0;


    p {
        margin: 0;
    }

    hr {
        border: 1px solid $footfont;
        margin: 20px auto;
        width: 30vW;
    }
}

