@import "_variables";
@import "_mixins";


.text-crop {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
}

.visible{
    display:none;
}

/*SEKCJE*/
body{
    margin: 0;
}

section{
    display:flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    clear: both;*/
    justify-content: center;
    align-items: center;
    padding: 90px 0 90px 0;      /* góra, prawo, dół, lewo */
    /* lub padding:90px 0;  wtedy 90px góra, dół i 0 prawo, lewo */
    /*overflow:auto;*/
}

.section2{
    display:flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    clear: both;*/
    justify-content: center;
    align-items: center;
    padding: 0 10vW 0 10vW;      /* góra, prawo, dół, lewo */
    /* lub padding:90px 0;  wtedy 90px góra, dół i 0 prawo, lewo */
    /*overflow:auto;*/
}

.attraction-form{
    background-image:url("../images/map.PNG");
    /*background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("../src/images/mapa2.jpg") no-repeat;*/
    background-size: cover; /* Dostosuj wielkość obrazka do sekcji */
    background-position: center; /* Wyśrodkuj obrazek */
    background-color: $footfont;
}


/*KONTENERY (DIV)*/

.container{
    /*max-width: 1040px;
    margin: 0 auto;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    /*flex-basis: 100%;*/
}

.container2{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    //align-items: left;
    //gap:30px;
}

.container2 h1{
    text-align: left;
}

.col-one-third{            /* . dla klas */     
    width: 33.3333%;
    display: flex;
    flex-wrap: wrap;

    /*float: left;*/
}

.col-two-third{            /* . dla klas */     
    width: 66.6666%;
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;

    /*float: left;*/
}

.col-half{
    /*flex-grow: 1;
    width: 50%;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    gap: 5px;
    /*flex: 1 50%;
    flex-basis: 50%;
    float: left;*/
    
}

.col-half2{            /* . dla klas */     
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:5px;
    padding: 50px 0 50px 0;
    /*flex-basis: 100%;*/
}

.banner.user {
    padding: 10px 0 10px 0;
}

.info{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap:10px;

    @include font($mont, 14, normal, $infoblack);
	text-align: left;
}

.info h1 {
    margin: 0; /* Usuń domyślne marginesy dla nagłówków */
}

.info.panel{
    align-items: stretch;
    justify-content:center;

}
.info.panel2{
    justify-content:center;
    text-align: center;
}

.icon-background, .text21 {
    overflow-wrap: break-word;
}

.attraction{
    display: flex;
    width: 80vW;
    border: thin solid $bordergray;
    flex-direction: row;
    padding: 2% 2% 2% 2%;
    gap:2%;
    text-align: justify;
}

.comment{
    display: flex;
    border: thin solid $bordergray;
    flex-direction: row;
    padding: 2% 2% 2% 2%;
    gap:2%;
    text-align: justify;
}

.add-opinion{
    display: flex;
    border: thin solid $bordergray;
    flex-direction: column;
    padding: 2% 2% 2% 2%;
    text-align: justify;
    align-items: center;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    align-items: center;
    padding-bottom: 30px ;
    //padding: 5% 5% 7% 5%;
    /*background-color: $footfont;*/

}

.stars{
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-option{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:5px;
	padding: 8px 8px 8px 8px;
    max-width: 425px;
	//max-height: 170px;
    
	background: #DFEDD6;
	border-color: #00000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 24px 24px 24px 24px;
    flex: 1;

}


.icon-background {
	width: 34px;
	height: 34px;
	padding: 8px 8px 8px 8px;
	background: #72BB53;
	border-radius: 20px 20px 20px 20px;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}



//.col-half2 .icon-panel {
    //position: absolute;
    //transform: translate(1125%,-1200%);
//}




/*DODATKI DO KONTENERÓW (DIV)*/


.element-info{
    gap:0;
}

.row{
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.column{
    flex-direction: column;
    gap:0;
}

.row-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.attraction-container{
    max-width: 100%;
    flex-direction: column;
    padding: 0 5% 0 5%;
    align-content: center;
}

.category{
    /*justify-self: flex-end;*/
    height: 30px;
	padding: 0px 15px 0px 15px;
	background: #92d36e;
	color: #355723;
	border-color: #92d36e;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	
    @include font($mont, 14, normal, $infoblack);
}

.align-right{
    text-align: right;
    flex:1;
}

.nonborder{
    width: 80%;
    border: none;
}






/*TEKSTY*/

.center-text{
    text-align: center;
}

label{
    //@include font2($mont, 14px, $infoblack);
    @include font($formfont, 14px, normal, $textgray)

}




/*PRZYCISKI*/

.button {
	//width: 148px;
    width: fit-content;
	height: 40px;
	padding: 0px 15px 0px 15px;
	background: $green1;
	//color: #ffffff;
	border-color: $green1;
	border-width: 2px;
	border-style: solid;
	border-radius: 24px 24px 24px 24px;
	//font-family: "Source Sans Pro";
	//font-weight: 600;
	//font-size: 16px;
    @include font($ssp, 14px, 800, $white);

	text-align: center;
    text-transform: uppercase;
}

.button2 {
	/*width: 148px;*/
	background: none;
	color: $green1;
	border-color: $green1;
}

.red{
    background: #c80424;
	border-color: #c80424;
}





/*OBRAZY*/



img{
    //width: 400px;
    max-width: 100%; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
    //height: auto; /* Zachowanie proporcji */
    height: 400px;
    object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */

}

.attraction-img{
    width: 400px;
    //max-width: 100%; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
    //height: auto; /* Zachowanie proporcji */
    height: 315px;
    object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */

}

.image{
	width: 400px;
    height: 400px; /* Zachowanie proporcji */
    object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
    max-width: 100%; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */

    //margin-left:100px;
	border-radius: 15px 15px 15px 15px;

}

.icon {
	width: 20px;
	height: 20px;
    padding: 0;
	/*background: #72bb53;*/
}

.icon-panel {
	width: 34px;
	height: 34px;
    padding: 0;
	/*background: #72bb53;*/
}

.star {
	width: 20px;
	height: 20px;
    padding: 0 1px 0 0;
	/*background: #72bb53;*/
}

.profile {
	width: 48px;
	height: 48px;
    //background-image:url("../src/images/image.PNG");
	background: #EBEBEB;
	border-radius: 24px 24px 24px 24px;
}


  



/*INPUTY*/
.text-input {
    box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
    min-width:240px;
    min-height: 30px;
	/*width: 332px;250
    height: 30px;*/

    width: 25vW;
	height: 2vh;

	padding: 4px 8px 4px 8px;
	background: $white;
	color: #c0c0c0;
	border-color: $bordergreen2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;

    
}

.margin{
    margin: 10px; /* Dodaje odstępy między elementami */
}

.text-area2{
    box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
	/*width: 332px;240
	height: 300px;*/
    width: 25vW;
	height: 50vh;
    min-width: 240px;
    max-height: 300px;
	padding: 4px 8px 4px 8px;

	background: #ffffff;
	color: #c0c0c0;
	border-color: $bordergreen2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

.text-area{
    box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
	/*width: 332px;240
	height: 300px;*/
    //width: 25vW;
	//height: 50vh;
    //min-width: 240px;
    //max-height: 300px;
    min-height: 180px;
	padding: 4px 8px 4px 8px;

	background: #ffffff;
	color: #c0c0c0;
	border-color: $bordergreen2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

.comment-area{
    box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
	/*width: 332px;240
	height: 300px;*/
    width: 100%;
	height: 25vh;
    //min-width: 240px;
    max-height: 100px;
	padding: 4px 8px 4px 8px;

	background: #ffffff;
	color: #c0c0c0;
	border-color: #4c7a34;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}


/*INNE*/

hr{
	width: 100%;
	height: 0px;
	opacity: 30%;
	border-color: #CBE8BA;
	border-width: 1px;
	border-style: solid;
    margin: 30px 0;
}

.map{
    max-height: 400px;
}




/*div p{
    flex: 1;
    background-color: #72bb53;
    flex-grow: 1;
    flex-shrink: 1;
}*/



/* BREAKPOINT RESPONSYWNOŚĆ */

@media screen and (max-width: 1024px){
    .nonborder{
        width: 100%;
    }
}

@media screen and (max-width: 605px){
    section{
        padding: 0;
    }

    .attraction-container{
        padding:0;
    }

    .attraction.no-border{
        border: none;

    }

    .info.panel{
        flex-direction: column;
        align-items: center;
    }

    .info.panel .col-one-third{
        width:90%;
    }

    
    .info.panel .text21{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    .info.panel .title21{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    

}

@media screen and (max-width: 480px){
    
    .section2{
        padding: 0;
    }
    .container{
        flex-direction: column;
    }
    .col-one-third{            /* . dla klas */     
        flex-direction: column;
        width: 100%;
    }

    .col-two-third{            /* . dla klas */
        width: 100%;
    }
    
    .col-half{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    .attraction{
        flex-direction: column;
        width:auto;
        border:none;
    }

    
    
    .visible{
        display: block;
    }

    img{
        height: auto; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
        width:max-content; /* Zachowanie proporcji */
        object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
    }

    .image{
        width: 220vW;
        height: auto;
    }

    .attraction-img{
        height: auto;
        width: fit-content;
        object-fit: cover;
        min-height: 200px;
        max-height: 200px;
    
    }

     

    .row{
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    .text-area{
        width: 80vW;
    }

    .text-input{
        min-width: 90vW;
    }

    .row-column{
        flex-direction: column;
    }

    .margin{
        margin: 10px 0;
    }

    .align-right{
        text-align: left;
    }

    .info.panel .info{
        gap: 0;
    }

    .info.panel .full-width{
        width: 90vW;
    }

    .info.panel .margin{
        margin-top: 0;
    }

    .info.panel .text21{
        margin: 0;
        font-size: 18px;
    }

    
}