@import "_variables";

header{
    background-color: $white;
}

header::after{
    content: '';
    display: table;
    clear:both;
}

.menu{
 width: 80vW;
 margin: 0 auto;
}

.logo{
    width: 225px;
    height: auto; /* Zachowanie proporcji */
    float: left;
}

nav{
    float:right;
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

nav li{
    display: inline-block;
    padding-top: 15px;
}


nav ul li:not(:last-child):not(:nth-last-child(2))::after {
    content: "";
    display: inline-block;
    width: 1px; /* Szerokość linii pionowej */
    height: 30px; /* Wysokość linii pionowej */
    background-color: $categorycolor; /* Kolor linii pionowej */
    margin-left: 35px; /* Dostosuj odstęp między linią a tekstem */
    margin-right: 35px; /* Dostosuj odstęp między linią a tekstem */
    vertical-align: middle;

}


nav a {
    color: $titlegray;
    font-size: 16px;
    text-decoration: none;
}

.menu-icon {
	width: 30px;
	height: 30px;
    padding: 0 0 0 70px;
    vertical-align: middle;

}

.info-menu{
        //float:right;
        display: flex;
        flex-wrap: row;
        padding: 0;
        margin: 0;
        align-items: center;
        //display: inline-block;
        padding-top: 15px;
        display: none;

}

.info-menu .menu-icon{
    display: none;
}

.hamburger {
    display: none; /* Domyślnie ukryty na większych ekranach */
    cursor: pointer;
    width: 21.6px;
}

@media screen and (max-width: 1124px) {

    .menu{
        width: 100%;
       }

    nav{
        padding-right: 30px;
    }

}


@media screen and (max-width: 924px) {
    .menu {
        width: 80vW;
        overflow: hidden;
    }

    .info-menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .info-menu .menu-icon{
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding-top: 15px;
    }

    nav li {
        display: block;
        padding: 10px 0;
    }

    nav.active {
        display: flex;
    }
}