@charset "UTF-8";
.title {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #444444;
}

.title21 {
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #444444;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7a7a7a;
}

.text14 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #c0c0c0;
}

.infofont {
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
  text-align: left;
}

::placeholder {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #c0c0c0;
}

/*SEKCJE*/
section {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;
  clear: both;*/
  justify-content: center;
  align-items: center;
  padding: 90px 0 90px 0; /* góra, prawo, dół, lewo */
  /* lub padding:90px 0;  wtedy 90px góra, dół i 0 prawo, lewo */
  /*overflow:auto;*/
}

.attraction-form {
  background-image: url(../images/mapa.jpg);
  background-size: cover; /* Dostosuj wielkość obrazka do sekcji */
  background-position: center; /* Wyśrodkuj obrazek */
  background-color: #cbe8ba;
}

/*KONTENERY (DIV)*/
.container {
  /*max-width: 1040px;
  margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /*flex-basis: 100%;*/
}

.col-one-third { /* . dla klas */
  width: 33.3333%;
  display: flex;
  flex-wrap: wrap;
  /*float: left;*/
}

.col-two-third { /* . dla klas */
  width: 66.6666%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*float: left;*/
}

.col-half {
  /*flex-grow: 1;
  width: 50%;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  /*flex: 1 50%;
  flex-basis: 50%;
  float: left;*/
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
  text-align: left;
}

.attraction {
  display: flex;
  border: thin solid #cccccc;
  flex-direction: row;
  padding: 2% 2% 2% 2%;
  gap: 2%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 5% 5% 7% 5%;
  background-color: #cbe8ba;
}

/*DODATKI DO KONTENERÓW (DIV)*/
.element-info {
  gap: 0;
}

.row {
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 0;
}

.row-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.attraction-container {
  flex-direction: column;
  padding: 0 5% 0 5%;
}

.category {
  /*justify-self: flex-end;*/
  height: 30px;
  padding: 0px 15px 0px 15px;
  background: #92d36e;
  color: #355723;
  border-color: #92d36e;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
}

/*TEKSTY*/
.center-text {
  text-align: center;
}

/*PRZYCISKI*/
.button {
  /*width: 148px;*/
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: #72bb53;
  color: #ffffff;
  border-color: #72bb53;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px 24px 24px 24px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.button2 {
  /*width: 148px;*/
  background: none;
  color: #72bb53;
  border-color: #72bb53;
}

/*OBRAZY*/
img {
  max-width: 100%; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
  height: auto; /* Zachowanie proporcji */
  object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0 3px 0 3px;
  /*background: #72bb53;*/
}

/*INPUTY*/
.text-input {
  box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
  min-width: 240px;
  min-height: 30px;
  /*width: 332px;250
     height: 30px;*/
  width: 25vW;
  height: 2vh;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #629c44;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.margin {
  margin: 10px; /* Dodaje odstępy między elementami */
}

.text-area {
  box-sizing: border-box; /* Uwzględniaj padding i border w szerokości elementu */
  /*width: 332px;240
  height: 300px;*/
  width: 25vW;
  height: 50vh;
  min-width: 240px;
  max-height: 300px;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #4c7a34;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

/*div p{
    flex: 1;
    background-color: #72bb53;
    flex-grow: 1;
    flex-shrink: 1;
}*/
/* BREAKPOINT RESPONSYWNOŚĆ */
@media screen and (max-width: 480px) {
  section {
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
  .col-one-third { /* . dla klas */
    flex-direction: column;
    width: 100%;
  }
  .col-two-third { /* . dla klas */
    width: 100%;
  }
  .col-half {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  .attraction {
    flex-direction: column;
  }
  .attraction-container {
    padding: 0;
  }
  img {
    max-height: auto; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
    width: max-content; /* Zachowanie proporcji */
    object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
  }
  .row {
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .text-area {
    width: 80vW;
  }
  .text-input {
    width: 80vW;
  }
  .row-column {
    flex-direction: column;
  }
  .margin {
    margin: 10px 0;
  }
}