@charset "UTF-8";
.title {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #444444;
}

.title21 {
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #444444;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7a7a7a;
}

.text14 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #c0c0c0;
}

.infofont {
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
  text-align: left;
}

::placeholder {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #c0c0c0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 90px 0 90px 0; /* góra, prawo, dół, lewo */
  /* lub padding:90px 0;  wtedy 90px góra, dół i 0 prawo, lewo */
}

.attraction-form {
  background-color: #cbe8ba;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-one-third { /* . dla klas */
  width: 33.3333%;
  display: flex;
  flex-wrap: wrap;
}

.col-two-third { /* . dla klas */
  width: 66.6666%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-half {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
  text-align: left;
}

.attraction {
  display: flex;
  border: thin solid #cccccc;
  flex-direction: row;
  padding: 2% 2% 2% 2%;
  gap: 2%;
}

.element-info {
  gap: 0;
}

.row {
  flex-direction: row;
  align-items: center;
}

.attraction-container {
  flex-direction: column;
  padding: 0 5% 0 5%;
}

.category {
  height: 30px;
  padding: 0px 15px 0px 15px;
  background: #92d36e;
  color: #355723;
  border-color: #92d36e;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  font-family: "Courier New";
  font-size: 14;
  font-weight: normal;
  color: #232323;
}

.center-text {
  text-align: center;
}

.button {
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: #72bb53;
  color: #ffffff;
  border-color: #72bb53;
  border-width: 2px;
  border-style: solid;
  border-radius: 24px 24px 24px 24px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

img {
  max-width: 100%; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
  height: auto; /* Zachowanie proporcji */
  object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0 3px 0 3px;
}

.text-input {
  min-width: min-content;
  width: 332px;
  height: 30px;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #629c44;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.text-area {
  width: 332px;
  height: 300px;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #4c7a34;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

/* BREAKPOINT RESPONSYWNOŚĆ */
@media screen and (max-width: 480px) {
  section {
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
  .col-one-third { /* . dla klas */
    flex-direction: column;
    width: 100%;
  }
  .col-two-third { /* . dla klas */
    width: 100%;
  }
  .col-half {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  .attraction {
    flex-direction: column;
  }
  .attraction-container {
    padding: 0;
  }
  img {
    max-height: auto; /* Obrazek nie będzie większy niż jego oryginalny rozmiar */
    width: max-content; /* Zachowanie proporcji */
    object-fit: cover; /* Obrazek zostanie przycięty, ale zachowa proporcje */
  }
  .row {
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
}